<div class="border-0 rounded bg-white shadow-sm mb-1 px-2 py-2 d-flex align-items-center note-item" data-note-id="<%= note.id || 'new' %>">
  <i class="fs-6 bi-journal-text me-2"></i>
  <div class="row flex-grow-1 align-items-center">
    <div class="col-md-4">
      <div class="">
        <a href="#" class="link-dark text-decoration-none">
          <%= note.title %>
        </a> 
        <% if note.tags.any? %>
          <div class="ms-3 opacity-75 d-inline-block">
            <% note.tags.each do |tag| %>
              <% tag_url = "#{@base_url}tag=#{tag.name}" %>
              <a href="<%= tag_url %>" class="badge bg-primary-subtle link-primary text-decoration-none rounded">
                <%= tag.name %>
              </a>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <% if note.project && params[:id].blank? %>
        <a href="/project/<%= note.project.id %>" class="badge border text-decoration-none link-dark bg-light">
          <%= note.project.name %>
        </a>
      <% end %>
    </div>
  </div>
</div>
