<div class="bg-light shadow-sm">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Content</th>
        <th scope="col">Tags</th>
      </tr>
    </thead>
    <tbody>
      <% notes.each do |note| %>
        <tr>
          <td class="w-50">
            <div class="note-item" data-note-id="<%= note.id %>">
              <a href="#" class="link-secondary  fs-5 text-decoration-none">
                <%= note.title %>
              </a>
            </div>
            <div id="edit_note_form_<%= note.id %>" class="d-none">
              <%= partial :'notes/_form', locals: { note: note } %>
            </div>
          </td>
          <td>
            <% note.tags.each do |tag| %>
              <span class="badge bg-primary-subtle text-primary"><%= tag.name %></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>