<h2 class="mb-5"><i class="bi bi-journal-text ms-3 me-2"></i> Notes</h2>
<div class="d-flex justify-content-between align-items-center mb-2 px-3">
  <h4 class="mt-2 fw-bold">Notes</h4>
  <div class="d-flex align-items-center">
    <% if params[:tag] %>
      <span class="badge bg-primary-subtle text-primary me-2" style="font-size: 13px">
        <i class="bi bi-tag-fill me-1 opacity-50"></i><%= params[:tag] %>
        <a href="<%= url_without_tag %>" class="text-decoration-none text-dark ms-1">
          <i class="bi bi-x text-primary"></i>
        </a>
      </span>
    <% end %>
    <div class="dropdown">
      <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="orderNotesByDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-sort-alpha-down me-2"></i> <%= order_name(params[:order_by]) %>
      </button>
      <ul class="dropdown-menu" aria-labelledby="orderNotesByDropdown">
        <% ['title:asc', 'created_at:desc'].each do |order| %>
          <li><a class="dropdown-item small" href="<%= "/notes?#{request.query_string}&order_by=#{order}" %>"><%= order.split(':').first.capitalize.gsub('_', ' ') %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="rounded py-2 px-3 mx-3 d-flex align-items-center border border-black" 
      data-bs-toggle="collapse" 
      data-bs-target="#newNoteForm" 
      aria-expanded="false" 
      aria-controls="newNoteForm" 
      style="cursor: pointer" 
      data-context="notes">
  + <span class="ms-2">Add note</span>
</div>
<div class="collapse" id="newNoteForm">
  <div class="card rounded shadow-sm mt-2 p-4 mx-3">
    <%= partial :'notes/_form',  locals: {note: Note.new, context: 'notes'} %>
  </div>
</div>
<div class="mx-3 my-2">
  <% @notes.each do |note| %>
    <div id="edit_note_form_<%= note.id %>" class="d-none">
      <%= partial :'notes/_form', locals: { note: note } %>
    </div>
    <%= partial :'notes/_note', locals: {note: note} %>
  <% end %>
</div>
<%= partial :'notes/_edit_note_modal' %>
