<h2 class="mb-5"><i class="bi bi-journal-text ms-3 me-2"></i> Notes</h2>
<div class="bg-light py-2 px-3 mx-3 d-flex align-items-center border" data-bs-toggle="collapse" data-bs-target="#newNoteForm" aria-expanded="false" aria-controls="newNoteForm" style="cursor: pointer;">
  <i class="fs-4 bi bi-plus-circle-fill text-primary me-2"></i> <span class="fs-6">New note</span>
</div>
<div class="collapse" id="newNoteForm">
  <div class="card border-0 bg-white shadow-sm mt-2 p-4 mx-3">
    <%= partial :'notes/_form', locals: { note: Note.new } %>
  </div>
</div>
<div class="mx-3 my-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Content</th>
        <th scope="col">Tags</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.notes.each do |note| %>
        <tr>
          <td class="w-50">
            <div class="note-item" data-note-id="<%= note.id %>">
              <a href="#" class="link-secondary  fs-5 text-decoration-none">
                <%= note.title %>
              </a>
            </div>
            <div id="edit_note_form_<%= note.id %>" class="d-none">
              <%= partial :'notes/_form', locals: { note: note } %>
            </div>
          </td>
          <td>
            <% note.tags.each do |tag| %>
              <span class="badge bg-primary-subtle text-primary"><%= tag.name %></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= partial :'notes/_edit_note_modal' %>
