<%= partial :'tasks/_header' %>

<% unless params[:status] == 'completed' %>
  <%= partial :'tasks/_minimal_form', locals: { task: Task.new } %>
<% end %>

<div class="mx-3">
  <% if @tasks.any? %>
    <% @tasks.each do |task| %>
      <div id="edit_task_form_<%= task.id %>" class="d-none">
        <%= partial :'tasks/_form', locals: { task: task } %>
      </div>
      <%= partial :'tasks/_task', locals: { task: task } %>
    <% end %>
  <% end %>
</div>
<div class="mx-3 mb-2">
  <% if @projects_with_tasks.any? %>
    <% @projects_with_tasks.each do |project| %>
      <% if project.tasks.incomplete.any? %>
        <% project.tasks.incomplete.each do |task| %>
          <div id="edit_task_form_<%= task.id %>" class="d-none">
            <%= partial :'tasks/_form', locals: { task: task } %>
          </div>
          <div class="">
            <%= partial :'tasks/_task', locals: { task: task } %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
<%= partial :'tasks/_edit_task_modal' %>
