<% current_user.areas.includes(:projects).order('name ASC').each do |area| %>
  <div class="area-item d-flex justify-content-between align-items-center">
    <a href="#area_<%= area.id %>_projects" class="nav-link link-dark flex-grow-1" data-bs-toggle="collapse" aria-expanded="false">
      <i class="bi bi-folder me-1 fs-6"></i>
      <i class="bi bi-folder2-open me-1 fs-6 d-none"></i>
      <%= area.name %>
    </a>
    <div class="dropdown area-options">
      <button class="btn btn-link pb-1 text-secondary" type="button" id="dropdownMenuButton<%= area.id %>" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-three-dots-vertical"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= area.id %>">
        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editAreaModal<%= area.id %>">Edit</a></li>
        <li>
          <form action="/area/<%= area.id %>" method="post" onsubmit="return confirm('Are you sure you want to delete this area?');">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="dropdown-item">Delete</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <% if area.projects.any? %>
    <div class="collapse" id="area_<%= area.id %>_projects">
      <ul class="nav nav-pills flex-column">
        <% area.projects.each do |project| %>
          <li class="nav-item">
            <a href="/project/<%= project.id %>" class="<%= nav_link("/project/#{project.id}") %>">
              <i class="bi bi-hexagon me-1"></i> <%= project.name.length > 22 ? project.name[0...22] + '...' : project.name %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
