<% task_counts = @project.task_status_counts %>
<% days_passed = (Date.today - @project.created_at.to_date).to_i %>
<div class="mb-4 mx-3 p-3 panel rounded">
  <div class="row">
    <% task_stats = [['list-check', 'Total', task_counts[:total]],
                     ['arrow-repeat', 'In Progress', task_counts[:in_progress]],
                     ['check-circle', 'Done', task_counts[:done]],
                     ['hourglass-split', 'Not Started', task_counts[:not_started]]] %>
    <% task_stats.each do |icon, title, count| %>
      <div class="col-md-3 mb-2">
        <div class="card panel-card text-center py-3 border-0">
          <div class="card-body fs-6 d-flex align-items-center justify-content-center py-1">
            <i class="bi bi-<%= icon %> me-2"></i>
            <span class=""><%= title %>: <%= count %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-2 d-flex align-items-center">
    <i class="bi bi-calendar fs-4 me-2"></i>
    <span>Project Started: <%= @project.created_at.strftime('%d %b %Y') %>, <%= days_passed %> days ago</span>
  </div>
  <div class="progress mt-3" style="height: 20px;">
    <div class="progress-bar" role="progressbar" style="width: <%= @project.progress_percentage %>%;" aria-valuenow="<%= @project.progress_percentage %>" aria-valuemin="0" aria-valuemax="100">
      <%= @project.progress_percentage %>% Complete
    </div>
  </div>
</div>
