<h2 class="mb-5"><i class="bi bi-hexagon ms-3 me-2"></i>Areas & Projects</h2>
<div class="row px-3">
  <% @grouped_projects.each do |area, projects| %>
    <div class="mb-5">
      <div class="area-item d-flex align-items-center mb-3">
        <a href="#area_<%= area.id %>_projects" class="nav-link link-dark" data-bs-toggle="collapse" aria-expanded="false">
          <h4 class="mb-0 pb-0 fw-bold"><%= area.name %></h4>
        </a>
        <div class="dropdown area-options ms-2">
          <button class="btn btn-link link-dark p-0" type="button" id="dropdownMenuButton<%= area.id %>" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= area.id %>">
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editAreaModal<%= area.id %>">Edit</a></li>
            <li>
              <form action="/area/<%= area.id %>" method="post" onsubmit="return confirm('Are you sure you want to delete this area?');">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="dropdown-item">Delete</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <% projects.each do |project| %>
          <div class="col-md-4 mb-3">
            <a class="text-decoration-none project-card" href="/project/<%= project.id %>">
              <div class="card shadow-sm" style="min-height: 177px;">
                <div class="d-flex flex-column justify-content-between h-100">
                  <div>
                    <div class="rounded" style="height: 100px;"></div>
                    <div class="card-body p-0">
                      <div class="card-footer p-0">
                        <div class="progress rounded-0" style="height: 2px;">
                          <div class="progress-bar" role="progressbar" style="width: <%= project.progress_percentage %>%" aria-valuenow="<%= project.progress_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <h5 class="card-title px-3 pt-3 pb-0 mb-1"><%= project.name.upcase %></h5>
                      <div class="card-text px-3 small opacity-50">
                        <%= project.task_status_counts[:total] %> Tasks
                        <% if project.task_status_counts[:in_progress] > 0 %>
                          , <i class="bi bi-circle-fill text-success me-1" style="font-size: 0.5em; position: relative; top: -0.3em;"></i> <%= project.task_status_counts[:in_progress] %> in progress
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        <% end %>
        <div class="col-md-4 mb-3">
          <a class="text-decoration-none project-card" href="#" data-bs-toggle="modal" data-bs-target="#newProjectModal">
            <div class="card shadow-sm p-0 opacity-25" style="min-height: 177px;">
              <div class="card-body rounded px-0 p-0 text-center">
                <i class="bi bi-plus opacity-25" style="font-size: 72px; line-height: 175px;"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= partial :'tasks/_edit_task_modal' %>
<% current_user.areas.each do |area| %>
  <%= partial :'areas/_edit_area_modal', locals: { area: area } %>
<% end %>
