<h2 class="mb-5"><i class="bi bi-hexagon ms-3 me-2"></i>Projects</h2>
<div class="row px-3">
  <% @grouped_projects.each do |area, projects| %>
    <% projects.each_with_index do |project, index| %>
      <% counts = @task_status_counts[project.id] %>
      <div class="border-0 rounded bg-transparent px-2 py-1 d-flex align-items-center task-item" data-project-id="<%= project.id %>" onclick="window.location.href='/project/<%= project.id %>'" style="cursor: pointer;">
        <div class="row flex-grow-1 align-items-top">
          <div class="col-md-6 d-flex align-items-center">
            <i class="bi bi-circle me-2"></i>
            <span class="fw-light"><%= project.name %></span>
            <span>— <%= area&.name || 'No area' %></span>
          </div>
          <div class="col-md-6 text-end">
            <div class="progress" style="height: 5px; width: 100px; display: inline-block; vertical-align: middle;">
              <div class="progress-bar bg-success" role="progressbar" style="width: <%= project.progress_percentage %>%;" aria-valuenow="<%= project.progress_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span>
              <%= counts[:total] %> /
              <% if counts[:in_progress] > 0 %>
                <i class="bi bi-circle-fill text-success" style="font-size: 0.5em; position: relative; top: -0.3em;"></i> <%= counts[:in_progress] %>
              <% else %>
                0
              <% end %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="mt-3">
  <a href="#" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#newProjectModal">Add New Project</a>
</div>

<%= partial :'tasks/_edit_task_modal' %>
<% current_user.areas.each do |area| %>
  <%= partial :'areas/_edit_area_modal', locals: { area: area } %>
<% end %>
