<h2 class="mb-5"><i class="bi bi-hexagon ms-3 me-2"></i>Projects</h2>
<div class="row bg-white mx-2 project-list">
  <% @grouped_projects.each do |area, projects| %>
    <% projects.each_with_index do |project, index| %>
      <% counts = @task_status_counts[project.id] %>
      <div class="bg-transparent px-2 py-2 d-flex align-items-center task-item" data-project-id="<%= project.id %>" onclick="window.location.href='/project/<%= project.id %>'" style="cursor: pointer;">
        <div class="row flex-grow-1 align-items-top">
          <div class="col-md-4 d-flex align-items-center">
            <i class="bi bi-hexagon me-3"></i>
            <span class="fw-light"><%= project.name %></span>
          </div>
          <div class="col-md-4 d-flex align-items-center">
            <span class="badge border border-secondary text-decoration-none link-dark"><%= area&.name || 'No area' %></span>
          </div>
          <div class="col-md-4 d-flex justify-content-end">
            <div class="d-flex align-items-center">
              <div class="progress" style="height: 5px; width: 100px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: <%= project.progress_percentage %>%;" aria-valuenow="<%= project.progress_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="ms-2 d-flex" style="width: 50px; justify-content: space-between;">
                <span style="text-align: right; flex: 1;"><%= counts[:done] %></span>
                <span style="flex: 0;">/</span>
                <span style="text-align: left; flex: 1;"><%= counts[:total] %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="mt-3">
  <a href="#" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#newProjectModal">Add New Project</a>
</div>
<%= partial :'tasks/_edit_task_modal' %>
<% current_user.areas.each do |area| %>
  <%= partial :'areas/_edit_area_modal', locals: { area: area } %>
<% end %>
