<h2 class="mb-5"><i class="bi bi-hexagon ms-3 me-2"></i><%= @project.name.upcase %>
  <div class="dropdown d-inline-block">
    <button class="btn btn-link text-secondary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-three-dots-vertical fs-6"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li>
        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editProjectModal" data-project-id="<%= @project.id %>">
          Edit
        </a>
      </li>
      <li>
        <% if @project %>
          <form id="delete_project_<%= @project.id %>" action="/project/<%= @project.id %>" method="post" class="d-none">
            <input type="hidden" name="_method" value="delete">
          </form>
        <% end %>
        <a class="dropdown-item" href="#" onclick="deleteProject('<%= @project.id %>')">Delete</a>
      </li>
    </ul>
  </div>
</h2>
<% unless @project.description.blank? %>
  <div class="mb-4 mx-3 rounded d-flex align-items-center">
    <i class="bi bi-info-circle-fill fs-1 text-primary ms-3"></i>
    <div class="px-4 py-3">
      <%= @project.description %>
    </div>
  </div>
<% end %>

<%= partial :'projects/_panel', locals: { project: @project } %>

<div class="d-flex justify-content-between align-items-center px-3">
  <h4 class="mt-2 fw-bold">Tasks</h4>
</div>
<% unless params[:status] == 'done' %>
  <%= partial :'tasks/_minimal_form', locals: { task: Task.new(project: @project) } %>
<% end %>
<div class="mx-3 mb-2">
  <% if @project.tasks.incomplete.any? %>
    <% @project.tasks.incomplete.each do |task| %>
      <div id="edit_task_form_<%= task.id %>" class="d-none">
        <%= partial :'tasks/_form', locals: { task: task } %>
      </div>
      <div>
        <%= partial :'tasks/_task', locals: { task: task } %>
      </div>
    <% end %>
  <% else %>
    <div class="rounded px-4 py-2 mb-4 bg-secondary-subtle fw-light opacity-50">
      No tasks have been created yet for this project
    </div>
  <% end %>
</div>
<h4 class="mt-5 ms-4 fw-bold">Notes</h4>
<div class="rounded py-2 px-2 mx-3 d-flex align-items-center border" data-bs-toggle="collapse" data-bs-target="#newNoteForm" aria-expanded="false" aria-controls="newNoteForm" style="cursor: pointer; background: #eee;">
  <i class=" bi bi-plus-circle-fill text-primary me-2"></i> <span class="">New note</span>
</div>
<div class="collapse" id="newNoteForm">
  <div class="card rounded bg-white shadow-sm mt-2 p-4 mx-3">
    <%= partial :'notes/_form', locals: { note: Note.new(project: @project), context: 'project' } %>
  </div>
</div>
<div class="mx-3 my-2">
  <% if @project.notes.any? %>
    <% @project.notes.order('created_at DESC').each do |note| %>
      <div id="edit_note_form_<%= note.id %>" class="d-none">
        <%= partial :'notes/_form', locals: { note: note } %>
      </div>
      <%= partial :'notes/_note', locals: {note: note} %>
    <% end %>
  <% else %>
    <div class="rounded px-4 py-2 mb-4 bg-secondary-subtle fw-light opacity-50">
      No notes have been created yet for this project
    </div>
  <% end %>
</div>
<%= partial :'projects/_edit_project_modal', locals: { project: @project } %>
<%= partial :'tasks/_edit_task_modal' %>
<%= partial :'notes/_edit_note_modal' %>
