<h2 class="mb-5"><i class="bi bi-inbox-fill ms-3 me-2"></i> Inbox</h2>

<% unless params[:status] == 'done' %>
  <%= partial :'tasks/_minimal_form', locals: { task: Task.new } %>
<% end %>

<div class="mx-3 mb-2 bg-white task-list">
  <% if @tasks %>
    <% @tasks.each do |task| %>
      <div id="edit_task_form_<%= task.id %>" class="d-none">
        <%= partial :'tasks/_form', locals: { task: task } %>
      </div>
      <%= partial :'tasks/_task', locals: { task: task } %>
    <% end %>
  <% end %>
</div>
<%= partial :'tasks/_edit_task_modal' %>
