<div class="d-flex flex-column flex-shrink-0 p-3 vh-100 sidebar fixed-sidebar" style="width: 300px;">
  <div class="d-flex justify-content-center mb-3 mb-md-0">
    <a href="/" class="d-flex justify-content-center align-items-center mb-3 mb-md-0 link-dark text-decoration-none">
      <span class="fs-4 fw-bold">tududi</span>
    </a>
  </div>
  <div class="border-top my-3"></div>
  <ul class="nav nav-pills flex-column">
    <li>
      <a href="/tasks?type=today" class="<%= nav_link('/tasks', 'type' => 'today') %>">
        <i class="bi bi-calendar-day-fill me-1"></i> Today
      </a>
    </li>
    <li class="nav-item">
      <a href="/inbox" class="<%= nav_link('/inbox') %>">
        <i class="bi bi-inbox-fill me-1"></i> Inbox
      </a>
    </li>
    <li class="nav-item">
      <a href="/tasks?type=next" class="<%= nav_link('/tasks', 'type' => 'next') %>">
        <i class="bi bi-arrow-right-circle-fill me-1"></i> Next Actions
      </a>
    </li>
    <li>
      <a href="/tasks?type=upcoming" class="<%= nav_link('/tasks', 'type' => 'upcoming') %>">
        <i class="bi bi-calendar3 me-1"></i> Upcoming
      </a>
    </li>
    <li>
      <a href="/tasks?type=someday" class="<%= nav_link('/tasks', 'type' => 'someday') %>">
        <i class="bi bi-moon-stars-fill me-1"></i> Someday
      </a>
    </li>
    <li>
      <a href="/tasks?status=done" class="<%= nav_link('/tasks', 'status' => 'done') %>">
        <i class="bi bi-check-circle me-1"></i> Completed
      </a>
    </li>
    <li>
      <a href="/tasks" class="<%= nav_link('/tasks') %>">
        <i class="bi bi-layers me-1"></i> All Tasks
      </a>
    </li>
    <li class="border-top my-3"></li>
    <li class="nav-item d-flex justify-content-between align-items-center w-100 <%= nav_link('/projects') %>">
      <a href="/projects" class="text-decoration-none flex-grow-1 <%= nav_link_active?('/projects') ? 'link-light' : 'link-dark' %>">
        <i class="bi bi-hexagon-fill me-1"></i> Areas & Projects
      </a>
      <button class="btn btn-link text-secondary p-0 ms-2" type="button" id="addNewDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-plus-lg"></i>
      </button>
      <div class="dropdown">
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="addNewDropdown">
          <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#newProjectModal">New Project</a></li>
          <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#newAreaModal">New Area</a></li>
        </ul>
      </div>
    </li>
    <li>
      <%# partial :'sidebar/_areas_projects_list' %>
    </li>
    <li class="border-top my-3"></li>
    <li class="nav-item d-flex justify-content-between align-items-center <%= nav_link('/notes') %>">
      <a href="/notes" class="text-decoration-none flex-grow-1 <%= nav_link_active?('/notes') ? 'link-light' : 'link-dark' %>">
        <i class="bi bi-journal-text me-1"></i> Notes
      </a>
      <a class="text-no-decoration link-secondary btn-outline-dark" href="#" data-bs-toggle="modal" data-bs-target="#newNoteModal">
        <i class="bi bi-plus-lg"></i>
      </a>
    </li>
    <li class="border-top my-3"></li>
  </ul>
  <div class="px-3 mb-auto">
  </div>
  <div class="dropdown border-top pt-3">
    <a href="#" class="d-flex justify-content-center align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <strong><%= current_user.email %></strong>
    </a>
    <ul class="dropdown-menu small text-center" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item disabled" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/logout">Sign out</a></li>
    </ul>
  </div>
  <button id="darkModeToggle" class="btn btn-link link-dark">
    <i id="darkModeIcon" class="bi bi-moon"></i>
  </button>
</div>
<%= partial :'projects/_new_project_modal' %>
<%= partial :'areas/_new_area_modal' %>
<%= partial :'notes/_new_note_modal', locals: {note: Note.new, context: 'sidebar'} %>
